body {
    background-color: grey;
}

body .container {
    position: relative;
    z-index: 10;
    color: #fff;
}

.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("https://images5.alphacoders.com/478/478771.jpg"), no-repeat,
      center center;
      background-size: cover;
    filter: blur(3px);
    position: fixed;
    inset: 0;
    z-index: 1;
  }

.loadingIcon {
    width: 50px;
  }